@model Gala_MVC_Project.Models.FirmModel

@{
    ViewBag.Title = "Members";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="about_content_slider">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="about_title text_uppercase">@Model.Firm.Country</h2>
            </div>
        </div>
    </div>
</section>

<section class="bg_contact">
    <div class="container content">
        <div class="row">
            <div class="mobile_display_none col-xs-12">
                <ol class="breadcrumb">
                    <li><a href="~/Home">Home</a></li>
                    <li><a href="~/Members/MemberList">Members</a></li>
                    <li><a href="~/Members/Firm/@Model.Firm.Id">@Model.Firm.Country</a></li>
                    <li class="active">@Model.Firm.FirmName</li>
                </ol>
            </div>
        </div>
        <div class="row content_text">
            <div class="mobile_content_global col-xs-9 content_global">
                <div class="bio_top_title">
                    <div class="pull-left">
                        <h1 class="content_title_news">@Model.Firm.FirmName</h1>
                    </div>
                    <div class="pull-right print_share">
                        <a href="#">
                            <img src="~/Images/share.png" />
                        </a>
                        <a href="#">
                            <img src="~/Images/print.png" />
                        </a>
                    </div>
                </div>
                <hr>
                <div class="mobile_display_block">
                    <h4 class="bio_left_title text_uppercase">@Model.Firm.FirmName</h4>
                    <div class="bio_contact_info">
                        <h4 class="bio_contact_info_title">Office</h4>
                        <p><span>@Model.Firm.Address</span></p>
                        <p><span>@Model.Firm.City @Model.Firm.Zip, @Model.Firm.Country</span></p>
                        <p><span>Tel:     <a href="">@Model.Firm.Tel</a></span></p>
                        <p><span>Fax:    <a href="">@Model.Firm.Fax</a></span></p>
                        <p><span>Web:   <a href="">@Model.Firm.web</a></span></p>
                    </div>
                    @foreach (var member in Model.Firm.Team)
                    {
                        <div class="about_member_block firm_member_block">
                            <div class="about_member_person">
                                <div class="pull-left about_member_person_img firm_member_person_img">
                                    <img src="~/Images/@member.Picture" />
                                </div>
                                <div class="pull-right about_member_person_info firm_member_person_info">
                                    <h3>@member.FName @member.LName</h3>
                                    <span><a class="" href="#">@member.Email</a></span>
                                </div>
                            </div>
                        </div>
                    }
                   
                  
                </div>

                <div class="bio_member_content_info">
                    <h4 class="bio_contact_info_title">Office</h4>
                    @Html.Raw(@Model.Firm.AboutContent)
                    <hr>

                    <h4 class="bio_contact_info_title">Recent News & Press</h4>
                    @foreach (var item in @Model.Firm.Events1.ToList())
                    {
                        <p>@item.Firm.Events1.FirstOrDefault().Heading</p>
                    }
                  
                    <a href="~/Member/Archive">Show more...</a>

                    <hr>

                    <h4 class="bio_contact_info_title">Recent Publications</h4>
                    <p>
                        Local pharmaceutical companies win temporary relief from Pfizer
                        IP Value 2010: Building and enforcing intellectual property value; Global White Page
                    </p><br />

                    <p>New Ground on Celebrities' Rights?
                    <p>Brand Management IP Focus,Managing Intellectual Property, May 2009 Euromoney Investor</p><br />

                    <p>Jamaica Chapter, in Copyright Throughout The World</p>
                    <p>by Silke Von Lewinski (editor) and International Contributors, Thompson West (2008)</p><br />

                    <p>Jamaica: Intellectual Property</p>
                    <p>International Encyclopaedia of Laws, Kluwer Law International, Intellectual Property - Suppl. 47 (September 2008)</p><br />

                    <p>Jamaica Takes Control</p>
                    <p>Brand Management IP Focus, Managing Intellectual Property, May 2008, Euromoney Investor</p><br />
                    <a href="#">Show more...</a><br />

                    <hr>

                    <h4 class="bio_contact_info_title">Recent Events</h4>
                    <p>
                        Local pharmaceutical companies win temporary relief from Pfizer
                        IP Value 2010: Building and enforcing intellectual property value; Global White Page
                    </p><br />

                    <p>
                        New Ground on Celebrities' Rights?
                        Brand Management IP Focus,Managing Intellectual Property, May 2009 Euromoney Investor
                    </p><br />

                    <p>
                        Jamaica Chapter, in Copyright Throughout The World
                        by Silke Von Lewinski (editor) and International Contributors, Thompson West (2008)
                    </p><br />

                    <p>
                        Jamaica: Intellectual Property
                        International Encyclopaedia of Laws, Kluwer Law International, Intellectual Property - Suppl. 47 (September 2008)
                    </p><br />

                    <p>
                        Jamaica Takes Control
                        Brand Management IP Focus, Managing Intellectual Property, May 2008, Euromoney Investor
                    </p><br />
                    <a href="#">Show more...</a><br />
                </div>
            </div>
            <div class="mobile_display_none col-xs-3">
                <h4 class="bio_left_title text_uppercase">@Model.Firm.FirmName</h4>
                <div class="bio_contact_info">
                    <h4 class="bio_contact_info_title">Office</h4>
                    <p><span>@Model.Firm.Address</span></p>
                    <p><span>@Model.Firm.City @Model.Firm.Zip, @Model.Firm.Country</span></p>
                    <p><span>Tel:     <a href="">@Model.Firm.Tel</a></span></p>
                    <p><span>Fax:    <a href="">@Model.Firm.Fax</a></span></p>
                    <p><span>Web:   <a href="">@Model.Firm.web</a></span></p>
                </div>
             
                @foreach (var member in Model.Firm.Team)
                {
                    <div class="about_member_block firm_member_block">
                        <div class="about_member_person">
                            <div class="pull-left about_member_person_img firm_member_person_img">
                                <img src="~/Images/@member.Picture" />
                            </div>
                            <div class="pull-right about_member_person_info firm_member_person_info">
                                <h3>@member.FName @member.LName</h3>
                                <span><a class="" href="#">@member.Email</a></span>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
     </div>
</section>

