@model Gala_MVC_Project.Models.EventsModel
@{
    ViewBag.Title = "EventList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="about_content_slider">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="about_title text_uppercase">Events</h2>
            </div>
        </div>
    </div>
</section>

<section class="bg_contact">
    <div class="container content">
        <div class="row">
            <div class="col-xs-12">
                <ol class="breadcrumb">
                    <li><a href="~/Home">Home</a></li>
                    <li class="active">Events</li>
                </ol>
            </div>
        </div>
        <div class="row content_text">
            <div class="col-xs-8 content_global">

                <div class="bio_top_title">
                    <div class="pull-left">
                        <h1 class="content_title_news">GALA Events</h1>
                    </div>
                    <div class="pull-right print_share">
                        <h4 class="events_archive text_uppercase"><a href="~/Events/Eventarchive">View Archive ></a></h4>
                    </div>
                </div>
                <hr>
                <div class="events_table">

                    @foreach(var item in @Model.Eventss.Where(c=>c.Type=="Gala Events").ToList().Take(10))
                    {
                        var content = @Html.Raw(@item.Content);
                        <p class="events_text_content">
                            <a href=""><span class="event_data pull-left"> @String.Format("{0:MMM d, yyyy}", @item.Published)</span><span class="events_content pull-right">@Model.Truncate(content.ToString(), 100, "...", true)</span></a>
</p>
                    }

                    <a href="#">Show more...</a>
                </div>

                <div class="bio_top_title">
                    <div class="pull-left">
                        <h1 class="content_title_news">Other Events</h1>
                    </div>
                    <div class="pull-right print_share">
                        <h4 class="events_archive text_uppercase"><a href="~/Events/Eventarchive">View Archive ></a></h4>
                    </div>
                </div>
                <hr>
                <div class="events_table">
                    @foreach (var item in @Model.Eventss.Where(c => c.Type == "Other Events").ToList().Take(10))
                    {
                        var content = @Html.Raw(@item.Content);
                        <p class="events_text_content">
                            <a href=""><span class="event_data pull-left"> @String.Format("{0:MMM d, yyyy}", @item.Published)</span><span class="events_content pull-right">@Model.Truncate(content.ToString(), 100, "...", true)</span></a>
                        </p>
                    }  
                    <a href="#">Show more...</a>
                </div>

            </div>
            <div class='col-xs-4 membership'>
                <div class="news_block events_block">
                    <div class="stuffing_news stuffing_events">
                        <div class="home_member">
                            <h1 class="member_title text_uppercase member_events_title">join the mailing list</h1>
                            <div class="member_info member_events_info">
                                <p>Would you like to receive the GALA News? Click the link below to subscribe.</p>
                                <input class="text_uppercase" type="submit" value="SUBSCRIBE">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

